<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guilherme.mynewapplication">

    <!-- Before starting development on your application with the Camera API,
     you should make sure your manifest has the appropriate declarations to
     allow use of camera hardware and other related features. -->

    <!-- Camera Permission - Your application must request permission to use a device camera. -->
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />

    <!-- Camera Features - Your application must also declare use of camera features, for example: -->
    <uses-feature android:name="android.hardware.camera" />

    <!-- Storage Permission - If your application saves images or videos to the device's external storage (SD Card),
    you must also specify this in the manifest. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--
        From the latest applications target API level 24, to access the files, they need to add a FileProvider
        Content Provider to their manifest file. Just follow the steps as:

        The ${applicationId} automatically gets the package name of your android application.
        On the above Statement also, we can use context.getPackageName() instead of hard-coded text of package name.
        -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.guilherme.mynewapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>